@import './tailwind';

/* break points */
$smartPhone:'690px';


textarea:focus,
input:focus {
    outline: none;
}

@mixin sm {
    @media (max-width:($smartPhone)) {
        @content;
    }
}


html,
body {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}

input::placeholder {
    color: white;
}


/* Elements */
.mb-reset {
    margin-bottom: 0;
}

.header {
    width: 100%;
    background-color: #fff;



    &__wrapper {
        max-width: 960px;
        margin: 0 auto;
    }

    &__logo {
        font-size: 2.5rem;
        color: #6C63FF;

    }

    &__logo-img {
        width: 140px;

    }

    &__link {
        display: inline-block;
    }

    &__btn {
        font-size: 1.7rem;
        background-color: #6C63FF;
        padding: .8rem 1.4rem;
        border-radius: 6px;
        color: white;
        font-weight: 600;
        position: relative;
        @extend .shadow-lg;
        transition: .3s;

        &:hover {
            opacity: .7;
        }

    }

    &__card {
        background-color: white;
        left: -200px;
        border-radius: 10px;
        box-shadow: 0 0 0 1px #E5E5E5;
    }

    &__user-name {
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid #E5E5E5;
        color: #3D4852;
        padding-bottom: 5px;
    }

    &__logout {
        @extend .header__user-name;
        border-top: 1px solid #E5E5E5;
        padding-top: 5px;
        font-weight: 400;
        padding-bottom: 0;

        &:hover {
            width: 100%;
            color: #6C63FF;
        }

        border-bottom: 0;
    }


    &__profile {

        transition: .3s;

        &:hover {
            opacity: .8;
        }
    }

    &__link {
        color: #3D4852;
        font-size: 1.6rem;

        &:hover {
            width: 100%;
            color: #6C63FF;
        }
    }




}



.hero {
    background-image: url('../img/hero__wallpaper.jpg');

    text-align: center;

    &__wrapper {
        padding: 12rem 4rem 8rem 4rem;
        @extend .header__wrapper;

        @include sm {
            padding: 10rem 1rem 6rem 1rem;
        }
    }




    &__title {

        font-weight: 700;
        font-size: 4.2rem;

        @include sm {
            font-size: 2.8rem;
        }

    }

    &__img {
        height: 330px;
        text-align: center;

        @include sm {
            margin-top: 0;
            height: 300px;
        }
    }

    &__txt {
        display: inline-block;
        font-size: 2.2rem;
        opacity: .8;

        @include sm {
            font-size: 1.8rem;
        }
    }

    &__btn {
        @extend .header__btn;
        width: 25%;
        border-radius: 30px;
        padding: 1.3rem 1.4rem;

        @include sm {
            width: 65%;
            font-size: 1.6rem;
            padding: 1rem 1.1rem;

        }
    }




}


.about {
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url('../img/about__wallpaper.jpg');
    background-size: cover;

    &__wrapper {
        padding: 4rem;
        @extend .header__wrapper;
        text-align: center;
        padding-bottom: 0;


        @include sm {
            padding: 4rem .5rem 6rem .5rem;
        }

    }


    &__title {
        font-size: 4rem;
        font-weight: 700;

        @include sm {
            font-size: 2.8rem;
        }
    }

    &__user {
        width: 10%;

        @include sm {
            width: 15%;
        }
    }

    &__icon {
        border-radius: 50%;
    }

    &__user-name {
        font-size: 1.1rem;
        text-align: center;

        @include sm {
            width: 80px;
            position: relative;
            font-size: 1rem;
            left: -20%;
        }
    }

    &__question {
        text-align: left;
        font-size: 1.8rem;

        @include sm {
            font-size: 1.5rem;
        }
    }

    &__answer {
        @extend .about__question;
    }

    &__question-guest {
        @include sm {
            justify-content: space-evenly;
        }
    }

    &__answer {
        @extend .about__question-guest;
    }

    &__answer-answer {
        width: 85%;
        padding: 3%;
        background-color: #fff;
        position: relative;
        border: 40px;
        margin-bottom: 100px;
        border-radius: 20px;


        @include sm {
            width: 75%;
            margin-top: 1%;
            margin-bottom: 50px;
        }


        &::before {
            content: '';
            position: absolute;
            border-right: 8px solid #eee;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            border-right-color: #fff;
            top: 14px;
            -webkit-transform: rotateX(35deg);
            transform: rotateX(35deg);
            left: -7px;
        }
    }

    &__answer-answer2 {
        background-color: transparent;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;

        &:before {
            display: none;

        }

    }

    &__user-question {
        width: 85%;
        padding: 3%;
        background-color: #7ACC40;
        position: relative;
        border: 40px;
        margin-bottom: 100px;
        border-radius: 20px;

        @include sm {
            width: 75%;
            margin-bottom: 50px;
        }

        &::before {
            content: '';
            position: absolute;
            border-left: 8px solid #eee;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            border-left-color: #7ACC40;
            top: 14px;
            right: -8px;
            -webkit-transform: rotateX(35deg);
            transform: rotateX(35deg);
        }
    }

    &__img {
        max-width: 100%;
        width: 60%;
        height: auto;
        border-radius: 10px;


        @include sm {
            width: 100%;
        }
    }
}


.cta {

    &__box {
        padding-top: 0;

        @include sm {
            text-align: center;
            padding: 1rem;
            margin-top: 0;
        }
    }

    &__text-box {
        position: relative;

        &:after {
            content: "";
            width: 5px;
            display: block;
            height: 130px;
            background-color: #6C63FF;
            position: absolute;
            top: 0;

            left: -30px;

            @include sm {
                left: 0;
                position: absolute;
                width: 100%;
                height: 5px;
                margin-top: 4px;
                top: 110%;
            }
        }



    }

    &__item {
        margin-top: 18px;

        @include sm {
            &:nth-child(1) {
                margin-top: 0;
            }

            padding:2rem;

            flex-direction: column;
        }
    }

    &__wrapper {
        @extend .about__wrapper;

        @include sm {
            padding-bottom: 0;
        }
    }

    &__title {
        @extend .about__title;
    }

    &__suggestion {
        display: block;
        font-size: 2rem;
    }

    &__icon {
        width: 30%;

        @include sm {
            width: 70%;
            display: block;
        }
    }


    &__text {

        font-size: 2.8rem;
        font-weight: 700;
        color: #333333;

        @include sm {
            text-align: center;
            font-size: 1.9rem;
        }

    }


    &__subtext {
        font-size: 1.8rem;
        font-weight: 400;
        margin-top: 8px;

        @include sm {
            font-size: 1.6rem;
            text-align: center;
            margin-top: 10px;
        }
    }


    &__text-box {
        width: 100%;
    }

    &__btn {
        @extend .hero__btn;
        width: 20%;
        display: inline-block;

        @include sm {
            width: 65%;
            font-size: 1.6rem;
            padding: 1rem 1.1rem;

        }
    }


    &__call {
        font-size: 3rem;

        @include sm {
            font-size: 2.5rem;
            margin-top: 0;
        }
    }

    &__message {
        display: block;

    }

    &__cta {
        text-align: center;
        padding-top: 10px;
        margin: 0 auto;
        background: linear-gradient(180deg, #ffffff 0%, hsl(197, 100%, 88%) 80%, #88DDFF);
        padding-bottom: 10rem;

        @include sm {
            padding-top: 8rem;
            padding-bottom: 6rem;
        }
    }

    &__dot {
        font-size: 2rem;
        line-height: 2;
    }



}

.footer {
    background-color: #444444;
    color: white;

    &__wrapper {
        @extend .cta__wrapper;
        padding-bottom: 3rem;
    }

    &__box {
        @include sm {
            flex-direction: column;
        }
    }

    &__item {
        display: inline-block;
        width: 50%;

        @include sm {
            width: 100%;

            padding: 0 3rem 0 3rem;

            &:nth-child(2) {
                margin-top: 25px;
            }
        }
    }

    &__title {
        font-size: 2rem;
    }

    &__lists {
        display: inline-block;
        text-align: left;

    }



    &__lists-item {
        text-align: center;

        &:hover {
            color: #6C63FF;
            transition: .3;
        }


    }

    &__link {
        display: inline-block;
        text-align: left;
        margin-top: 10px;
        font-size: 1.5rem;
    }


    &__desc {
        font-size: 1.3rem;
        margin-top: 10px;
        line-height: 1.7;
        text-align: left;
    }


    &__copyright {
        display: block;
        font-size: 1.2rem;
    }



    &__sns {
        font-size: 2.5rem;



    }



}

/* 
Fotter
*/



.footer__sns-list li:nth-child(1):hover {
    color: #1DA1F2;
    transition: .3s;
}



.footer__sns-list li:nth-child(2):hover {
    color: black;
    transition: .3s;

}




.footer__sns-list li:nth-child(3):hover {
    color: #9BDAF3;
    transition: .3s;

}

.footer__sns-list li:nth-child(4):hover {
    color: #00A4BB;
    transition: .3s;

}



.app {
    text-align: center;
    background-image: url('../img/hero__wallpaper.jpg');

    &__wrapper {
        @extend .hero__wrapper;

        @include sm {
            padding-top: 10rem;

        }
    }


    &__message {
        @extend .about__answer;

        @include sm {
            margin-top: 0;
        }
    }


    &__guide {
        @extend .about__user;
    }

    &__title {

        @extend .hero__title;
    }


    &__reply {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            border-left: 8px solid #eee;
            border-bottom: 8px solid transparent;
            border-top: 8px solid transparent;
            border-left-color: #7ACC40;
            -webkit-transform: rotateX(35deg);
            transform: rotateX(35deg);
            left: 85%;
            top: 14%;
        }


        @include sm {

            &:before {

                content: '';
                position: absolute;
                border-left: 8px solid #eee;
                border-bottom: 8px solid transparent;
                border-top: 8px solid transparent;
                border-left-color: #7ACC40;
                -webkit-transform: rotateX(35deg);
                transform: rotateX(35deg);
                left: 78%;
                top: 14%;

            }

        }
    }

    &__reply2 {
        @extend .app__reply;

        &:before {
            display: none;
        }
    }

    &__icon {
        @extend .about__icon;
        width: 88px;
    }

    &__guide-name {
        @extend .about__user-name;
    }

    &__message-content {
        @extend .about__answer-answer;

        @include sm {}
    }

    &__message-txt {
        @extend .about__answer;
    }

    &__user-reply {
        @extend .about__user-question;
        font-size: 1.8rem;


        &::before {

            content: "testing this hsit";
            display: block;
            width: 400px;
            height: 400px;

        }

        @include sm {
            font-size: 1.3rem;
        }
    }

    &__reply-txt {
        @extend .about__question;
    }

    &__user {
        @extend .about__user;
    }

    &__reply {
        @extend .about__question-guest;
    }


}


.profile {
    background-image: url('../img/hero__wallpaper.jpg');

    &__wrapper {

        @extend .app__wrapper;
        padding-bottom: 13.2rem;
    }

    &__profile {
        background-color: white;
        margin: 0 auto;
        border-radius: 2px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        padding: 2rem 0rem 6rem 0rem;
        max-width: 700px;
        text-align: center;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        margin: 0 auto;

    }

    &__img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }

    &__name {
        font-size: 3rem;
        margin-top: 10px;
        color: #4B45B2;
    }

    &__des {
        text-align: left;
        font-size: 2rem;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        color: #817CC9;
        color: black;

    }

    &__bg {
        padding: 2rem 2rem 0 2rem;
    }

    &__info {
        margin-top: 20px;
        justify-content: center;
        vertical-align: middle;
    }

    &__icon {
        color: #6C63FF;
        font-size: 2rem;
        margin-right: 20px;
    }


    &__key {
        font-size: 2rem;
        line-height: 2rem;
    }
}




.not-found {

    &__wrapper {
        @extend .hero__wrapper;
        padding-bottom: 8.2rem;
        text-align: center;
    }

    &__title {
        @extend .hero__title;
        color: #6C63FF;

    }

    &__img {
        margin-top: 2rem;
        text-align: center;
        display: inline-block;
        width: 30%;

    }

    &__text {
        @extend .cta__text;
        margin-top: 4rem;
        font-size: 2rem;

        @include sm {
            font-size: 1.6rem;
        }

    }

    &__newline {
        display: none;

        @include sm {
            display: static;
        }
    }



}



.mb-reset {
    margin-bottom: 0;
}